* {
  margin: 0;
  padding: 0;
}


header {
  color: #fff;
  background-color: #212529;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin: 0 auto;
  padding: 15px;
}

footer {
  background-color: rgb(244, 245, 246);
  padding: 10px 20px;
}

.title {
  background-color: #212529;
}



table th {
  background-color: rgb(244, 245, 246);
  padding: 10px 20px;
}

table td {
  background-color: #f9ecda;
  padding: 10px 20px;
}

.notice {
  background-color: rgb(123, 123, 132);
  padding: 5px;
}

.left {
  display: inline-block;
  margin-right: 775px;
}

.left-footer {
  display: inline-block;
  margin-right: 650px;
}

.right {
  display: inline-block;
}

.inline-block {
  display: inline-block;
}

.show-left {
  display: inline-block;
  margin-left: 82px;
}

